<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="background-image"></div>

            <div class="text-button-container">
                <p class="register-text">Register Here</p>
                <a routerLink="/registration"><button class="enroll-button">REGISTER</button></a>
            </div>
        </div>
    </div>
</body>
</html>


